.friendList {

  background-color: rgba(0, 0, 0, 0.433);


}


.friendListBtns {
  margin-top: 5px;
  color: rgb(180, 180, 180);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px
}

.friendListBtns>div {
  text-align: left;
  width: 95%;
  font-size: 28px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.friendListBtns>div:hover ::after {
  content: "";
  color: white;
  left: 1;
  position: absolute;
  background-color: rgba(41, 41, 41, 0.322);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;

}

.chatList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.chatListItem {
  color: #b4b4b4;
  display: flex;
  height: 35px;
  width: 95%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  position: relative;
  cursor: pointer;
}

.chatList .chatListItem :hover{
  color: white;
}


.chatListItem>:nth-child(1) {
  font-size: 14px;
  padding: 0 15px;
}


.chatListItem>:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
}

.friendListBtns>div>span {
  margin-top: 5px;
  font-size: 18px;
}

.avtivityChatButton {
  color: white !important;
  position: relative;
}

.avtivityChatButton::after {
  content: "";
  color: white;
  left: 1;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.113);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}


.avtivityButton {
  color: white
}

.avtivityButton::after {
  content: "";
  color: white;
  left: 1;
  position: absolute;
  background-color: rgba(211, 211, 211, 0.322);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  border-radius: 5px;
}
